{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false
    },
    "target": "esnext",
    "loose": false,
    "externalHelpers": false
  },
  "module": {
    "type": "es6",
    "strict": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": false,
  "sourceMaps": true
}
